<div class="menu_nav">
<hr>
   
    <nav>
        <h1>
            Blog Spot.
        </h1>

        <ul>
            <li><a href="#home">Articles</a></li>
            <li><a href="#about">Radio</a></li>
            <li><a href="#services">Podcast</a></li>
            <li><a href="#contact">beawritter</a></li>
        </ul>
        <div class="box_button">
            <button id="button_search"><span class="icon">#</span></button>
            <button id="button_menu">Menu</button>
        </div>
    </nav>
    
<hr>
</div>
