
h1{
    font-size: 1.5em;
    padding: 20px;
    margin-right: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
Nav{
    display: flex;
    align-items: center;
}
Nav > ul{
    list-style-type: none;
    display: flex;
    
}
Nav > ul > li{
    margin: 10px;
}
a{  
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
a:hover{
    text-decoration:underline;

}


.box_button{
    display: flex;
    margin-left: 57%;
}

#button_menu{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    background-color: white;

    align-items: center;
    margin-left: 10%;
    

}

#button_search{
    padding: 12px 12px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    color: white;
}

