.box{
    width: 60%;
}
.box_titulo{

    display: flex;
    margin: 2%;
    margin-left: 15px;

}
h1{
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;

}
h3{
    align-self: end;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}